/* Dans votre fichier CSS ou SCSS */
.input-field {
  width: 100%;
}
/* Add this style to change the color of the input field when there's an error */
.error-input {
  border-color: #0F7490; /* Change to your preferred color */
}

/* Add this style to style the error message */
.error-message {
  color: #0F7490;
  font-size: 12px;
}
/* Ajouter ces styles dans votre fichier CSS global ou dans le composant */
.error-input-required.ng-invalid {
  border: 1px solid #0F7490;
}

.error-message-required {
  color: #0F7490;
  font-size: 12px;
}
/* Style for the radio container */
.radio-container {
  display: inline-block;
  margin-right:2px; /* Adjust as needed */
}

/* Style for the radio input */
.radio-container input[type="radio"] {
  display: none; /* Hide the actual radio input */
}

/* Style for the radio group container (using Bootstrap col-6) */
.radio-group-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px; /* Adjust to counteract the margin-right on radio-container */
}

/* Style for each radio button */
.radio-container {
  margin-bottom: 5px; /* Adjust as needed for vertical spacing */
}

/* Style for the radio label */
.radio-container label {
  display: inline-block;
  padding: 5px 5px;
  font-size: 12px; /* Adjust as needed */
  cursor: pointer;
  border: 1px solid #0F7490; /* Default color for unchecked */
  border-radius: 4px;
  background-color: #ffffff; /* Default background color for unchecked */
  color: #0F7490; /* Default text color for unchecked */
}

/* Style for the radio label when checked */
.radio-container input[type="radio"]:checked + label {
  background-color: #0F7490; /* Color for checked */
  color: white;
}

/* Bootstrap col-6 class */
.col-6 {
  flex: 0 0 50%; /* Adjust for a two-column layout */
  max-width: 50%;
}
