<!-- ... Autre contenu de votre composant ... -->


<div class="container mt-4">
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group row">
          <input type="hidden" class="form-control input-field" name="id" #id="ngModel" [(ngModel)]="service.user.id"  >
          <input type="hidden" class="form-control input-field" name="role" #role="ngModel" [(ngModel)]="service.user.role"  >
          <input type="hidden" name="estSupprimer" [(ngModel)]="service.user.estSupprimer">
          <input type="hidden" name="surListeNoire" [(ngModel)]="service.user.surListeNoire">
          <input type="hidden" name="password" [(ngModel)]="service.user.password">
          <input type="hidden" name="montantTransfertAnnuel" [(ngModel)]="service.user.montantTransfertAnnuel">
          <input type="hidden" name="datePremierTransfert" [(ngModel)]="service.user.datePremierTransfert">
          <input type="hidden" name="beneficiaires" [(ngModel)]="service.user.beneficiaires">
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control input-field" name="name" #name="ngModel" [(ngModel)]="service.user.name" required placeholder="First Name"
            [ngClass]="{'error-input-required': userForm.submitted && name.invalid}">
            <div *ngIf="userForm.submitted && name.invalid" class="error-message">First Name is required</div>
          </div>
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control input-field" name="lastName" #lastName="ngModel" [(ngModel)]="service.user.lastname" required placeholder="Last Name"
            [ngClass]="{'error-input-required': userForm.submitted && lastName.invalid}"
            >
            <div *ngIf="userForm.submitted && lastName.invalid" class="error-message">Last Name is required</div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control input-field" name="gsm" #gsm="ngModel" [(ngModel)]="service.user.gsm" required placeholder="GSM"
            [ngClass]="{'error-input-required': userForm.submitted && gsm.invalid}">
            <div *ngIf="userForm.submitted && gsm.invalid" class="error-message">GSM is required</div>
          </div>
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control input-field" name="email" #email="ngModel" [(ngModel)]="service.user.email" required placeholder="Email"
            [ngClass]="{'error-input-required': userForm.submitted && email.invalid}">
            <div *ngIf="userForm.submitted && email.invalid" class="error-message">Email is required</div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control input-field" name="n_identity" #n_identity="ngModel" [(ngModel)]="service.user.n_identity" required placeholder="N Identity"
            [ngClass]="{'error-input-required': userForm.submitted && n_identity.invalid}">
            <div *ngIf="userForm.submitted && n_identity.invalid" class="error-message"> N ° identity is required</div>
          </div>
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control input-field" name="numeroPieceIdentite" #numeroPieceIdentite="ngModel" [(ngModel)]="service.user.numeroPieceIdentite" required placeholder="Numéro de Pièce d'Identité"
            [ngClass]="{'error-input-required': userForm.submitted && numeroPieceIdentite.invalid}">
            <div *ngIf="userForm.submitted && numeroPieceIdentite.invalid" class="error-message">ID number is required</div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6 mb-3">
            <select class="form-control input-field" #typePieceIdentite="ngModel" name="typePieceIdentite" [(ngModel)]="service.user.typePieceIdentity" required
            [ngClass]="{'error-input-required': userForm.submitted && typePieceIdentite.invalid}">
              <option value="" disabled>Select ID Type</option>
              <option *ngFor="let type of service.typePieceIdentite " [value]="type">
                {{ type }}
              </option>
            </select>
            <div *ngIf="userForm.submitted && typePieceIdentite.invalid" class="error-message">ID Type is required</div>
          </div>
        <div class="col-md-6 mb-3">
          <select class="form-control input-field" name="profession" [(ngModel)]="service.user.profession" >
            <option value="" disabled>Select Profession</option>
            <option *ngFor="let prof of service.professions" [value]="prof">
              {{ prof }}
            </option>
          </select>
        </div>
      </div >
        <div class="form-group row">
          <div class="col-md-6 mb-3">
            <mat-form-field>
              <label for="dateNaissance">Date of Birth</label>
              <input matInput [matDatepicker]="datepicker1" id="dateNaissance" name="dateNaissance" [(ngModel)]="service.user.dateNaissance" required>
              <mat-datepicker-toggle matSuffix [for]="datepicker1"></mat-datepicker-toggle>
              <mat-datepicker #datepicker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6 mb-3">
            <mat-form-field>
              <label for="validitePieceIdentite"> Date of ID Expiry</label>
              <input matInput [matDatepicker]="datepicker2" id="validitePieceIdentite" name="validitePieceIdentite" [(ngModel)]="service.user.validitePieceIdentite" required>
              <mat-datepicker-toggle matSuffix [for]="datepicker2"></mat-datepicker-toggle>
              <mat-datepicker #datepicker2></mat-datepicker>
            </mat-form-field>
          </div>
          </div>
  <div class="form-group row">
  <div class="col-md-6 mb-3">
    <select class="form-control input-field" name="paysNationalite" #paysNationalite="ngModel" [(ngModel)]="service.user.paysNationalite" required>
      <option value="" disabled>Select Birth Country</option>
      <option *ngFor="let country of countries" [value]="country.country">
        {{ country.country }}
        <img [src]="country.flag" alt="{{ country.country }}" width="40" height="40" />
      </option>
    </select>
  </div>
  <div class="col-md-6 mb-3">
    <input type="text" class="form-control input-field" name="ville" #ville="ngModel" [(ngModel)]="service.user.ville" required placeholder="City">
  </div>
</div>
        <div class="form-group row">
          <div class="col-md-6 mb-3">
            <select class="form-control input-field" name="paysAdresse" #paysAdresse="ngModel" [(ngModel)]="service.user.paysAdresse" required>
              <option value="" disabled>Select Address Country</option>
              <option *ngFor="let country of countries" [value]="country.country">
                {{ country.country }}
                <img [src]="country.flag" alt="{{ country.country }}" width="40" height="40" />
              </option>
            </select>
          </div>
          <div class="col-md-6 mb-3">
            <input type="text" class="form-control input-field" name="adresseLegale" #adresseLegale="ngModel" [(ngModel)]="service.user.adresseLegale" required placeholder="Legal Address">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6 mb-3">
            <select class="form-control input-field" name="titre" [(ngModel)]="service.user.titre" required>
              <option value="" disabled>Select Title</option>
              <option value="M.">M.</option>
              <option value="Mme">Mme</option>
              <option value="Miss">Miss</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6 mb-3">
              <button type="submit" class="btn btn-warning btn-block" style="margin-right: 10px; background-color: #0F7490; border-color: #0F7490; color: white;">Add Client</button>
              <button type="submit" class="btn btn-primary btn-block" style="background-color: white; border-color: #0F7490; color: #0F7490;" (click)="CancelAdd()">Cancel</button>
            </div>
          </div>
  </form>
</div>
</div>
</div>
