.logo-container {
  /* Add your styles here */

  padding: 10px;
  border-radius: 5px;
  /* Add any other styles you need */
}
.input-field {
  width: 100%;
  /* Ajoutez d'autres styles au besoin */
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.error-message-required {
  color: red;
  font-size: 12px;
}
